*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}


nav{
    padding: 10px 10px;
    margin: 10px 4px;
    border-radius: 10px;
    background-color: aqua;
} 
body{
    background-color:#212121;
    color: #ffff;
}
.container{
    height: 100vh;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.anchor-tag{
    display: flex;
    flex-direction: column;
}
